# === Librairies de base ===
numpy
pandas
matplotlib
seaborn
scikit-learn
joblib
ipykernel
pytest

# === Deep Learning ===
tensorflow
keras

# === Vision par ordinateur ===
opencv-python
dlib
imutils

# === Développement web & API ===
fastapi
uvicorn
sqlalchemy
pydantic